.wrapper {
  background-color: rgb(247, 247, 247);
  padding: 30px;
  text-align: right;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    border-radius: 0;
  }
}
