.wrapper {
  text-align: center;
  padding: 30px;
}

.location {
  font-size: 38px;
  margin-bottom: 10px;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.temperature {
  font-size: 84px;
}
