.weatherWrapper {
  padding: 30px;
}

.locationTitle {
  font-size: 38px;
  margin-bottom: 10px;
}

.weatherDescription {
  font-size: 24px;
  margin-bottom: 20px;
}

.mainTemp {
  font-size: 84px;
}
