.search {
  margin-bottom: 20px;
  height: 40px;
  border: none;
  padding: 0 10px;
  color: #303030;
  font-size: 20px;
  text-align: right;
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}

@media only screen and (max-width: 520px) {
  .search {
    width: 100%;
  }
}
