.wrapper {
  max-width: 1200px;
  margin: 30px auto;
  text-align: center;

  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 32px 0 rgba(83, 89, 179, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 30px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.weatherWrapper {
  padding: 30px;
}

.locationTitle {
  font-size: 38px;
  margin-bottom: 10px;
}

.weatherDescription {
  font-size: 24px;
  margin-bottom: 20px;
}

.statsWrapper {
  background-color: rgb(247, 247, 247);
  padding: 30px;
  text-align: right;
  border-radius: 0 30px 30px 0;
}

.statsBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  border-radius: 20px;
}

.statsCard {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 20px;
}

.statsCardContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainTemp {
  font-size: 84px;
}

.searchInput {
  margin-bottom: 20px;
  height: 40px;
  width: 200px;
  border: 2px solid rgb(218, 218, 218);
  padding: 0 10px;
  color: #c5c5c5;
  font-size: 20px;
  text-align: right;
  border-radius: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}
